select {
	padding: 0;
	border: none;
	background: none;
	display: flex;
}

button {
	padding: 0;
	border: none;
	background: none;
	color: white;
}

/* ------ */
.center_row {
	display: flex;
	justify-content: center;
}

.center_column {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.external_container {
	margin: 0;
}

.menu_container {
	height: 80px;
	background-color: rgb(0, 51, 102);
}

.menu {
	justify-content: space-between;
	width: 40%;
}

.slide_container {
	display: flex;
	align-items: center;
}

.slide {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sort_status {
	display: none;
}

.rectangles_container {
	width: 75%;
}

.rectangle {
	background-color: black;
	height: 100px;
	width: 1%;
}

.selected_element {
	background-color: green;
}

.compared_element {
	background-color: yellow;
}

.disordered_element {
	background-color: red;
}
